{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  <title>A-Stroy - Контрагент</title>
{% endblock %}
{% block content %}
  <div class="container col-6 my-5">
    <div class="card mb-3" >
      <div class="row g-0">
          <div class="card-body">
            <h5 class="card-title">{{ object }} - {{ object.type }}</h5><hr>
            <div class="row">
              <div class="col">
              <p class="card-text"><strong>Наименование: </strong>{{ object.legal_name }}</p>
              <p class="card-text"><strong>ИНН{% if object.kpp %} / КПП{% endif %}: </strong>
                  {{ object.inn }}{% if object.kpp %} / {{ object.kpp }}{% endif %}
              </p>
              <p class="card-text"><strong>Юридический адрес: </strong>{{ object.legal_address }}</p>
              <p class="card-text"><strong>Фактический адрес: </strong>{{ object.actual_address }}</p>
              <p class="card-text"><strong>Рассчетный счет: </strong>{{ object.payment_account }}</p>
              <p class="card-text"><strong>Корреспондентский счет банка: </strong>{{ object.correspondent_account }}</p>
              <p class="card-text"><strong>БИК банка: </strong>{{ object.bik }}</p>
              <p class="card-text"><strong>Наименование банка: </strong>{{ object.bank }}</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2 col-6 mx-auto mb-1">
              <button type="submit" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#editClient">Редактировать</button>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mb-1">
              <button type="submit" class="btn btn-sm btn-primary" onclick="window.location.href='/clients/list/'">Закрыть</button>
            </div>
            {% if user.is_admin %}
            <div class="d-grid gap-2 col-6 mx-auto mb-1">
              <button type="submit" class="btn btn-sm btn-danger" onclick="window.location.href='/clients/delete/{{ object.id }}/'">Удалить</button>
            </div>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editClient" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form method="POST" action="{% url 'clients:detail' object.id %}">
          {% csrf_token %}
          <div class="modal-body">
              <div class="card">
                <div class="card-header">
                  Редактировать контрагента
                </div>
                <div class="card-body">
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

            <form method="post" action="{% url 'users:signup' %}">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group row my-3 p-3">
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
                </label>    
                {{ field }}
                {% if field.help_text %}
                  <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
              </div>
              {% endfor %}
            </form>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}