{% extends 'base.html' %}


{% block content %}
  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        {% for field in form %}
          <div class="h5">Добавить способ оплаты:</div>
          {{ field }}
          <input type="hidden" id="pid" value="">
        {% endfor %}
        <div class="float-end my-1">
          <input type="button" class="btn btn-sm btn-success" id="btn-add" value="Добавить">
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-5">
        <table class="table">
          <thead>
            <tr>
              <th>Способы оплаты</th>
              <td>&nbsp;</td>
            </tr>
          </thead>
          <tbody id="tbody">
            {% for obj in object_list %}
              <tr>
                <td>{{ obj }}</td>
                <td>
                  <div class="float-end">
                    <input type="button" class="btn btn-sm btn-warning btn-edit" data-pid="{{ obj.id }}" value="Изменить">
                    <input type="button" class="btn btn-sm btn-danger btn-delete" data-pid="{{ obj.id }}" value="Удалить">
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    //Add
    $('#btn-add').on('click', function(){
      let output = '';
      let paymentType = $('#payment_type').val();
      let pid = $('#pid').val();
      if(paymentType == ''){
        console.log('paymentType is required');
        document.querySelector('#payment_type').setAttribute('style', 'border-color: red');
      }else{
        document.querySelector('#payment_type').setAttribute('style', '');
        data = {'id': pid, 'payment_type': paymentType};
        $.ajax({
          url: "{% url 'paymethods:pmtype_add' %}",
          method: 'POST',
          data: data,

          success:function(data){
            x = data.payment_types
            if(data.status == 'OK'){
              for(i=0; i<x.length; i++){
                output += (
                  "<tr><td>" + x[i].payment_type + "</td><td>" +
                  "<div class='float-end'>" +
                  "<input type='button' class='btn btn-sm btn-warning btn-edit' data-pid='" + x[i].id + "' value='Изменить'> " +
                  "<input type='button' class='btn btn-sm btn-danger btn-delete' data-pid='" + x[i].id + "' value='Удалить'> " +
                  "</div></td></tr>"
                )
                document.querySelector('#payment_type').value = '';
                $('#tbody').html(output);
                $('#pid').val('')
              }
            }
          }
        })
      }
    })

    //Edit
    $('#tbody').on('click', '.btn-edit', function(){
      let pid = $(this).attr('data-pid');

      data = {'pid': pid}

      $.ajax({
        url: "{% url 'paymethods:pmtype_edit' %}",
        method: 'GET',
        data: data,

        success:function(data){
          if(data.status == 'OK'){
            $('#payment_type').val(data.payment_type.payment_type)
            $('#pid').val(data.payment_type.id)
          }
        }
      })
    })

    //Delete
    $('#tbody').on('click', '.btn-delete', function(){
      let pid = $(this).attr('data-pid');

      data = {'pid': pid};
      mythis = this;

      $.ajax({
        url: "{% url 'paymethods:pmtype_delete' %}",
        method: 'POST',
        data: data,

        success:function(data){
          if(data.status == 'OK'){
            console.log(data.status);
            $(mythis).closest("tr").fadeOut();
          }
        }
      })
    })
  </script>
{% endblock content %}