{% extends 'base.html' %}
{% load user_filters %}

{% block content %}
  <div class="container my-5">
    <h1>Обзвон</h1>
      <div class="row my-2">
        <div class="d-grid gap-2 d-md-block">
          <a href="{% url 'shedule:shedule' %}">
            <button class="btn btn-primary btn-sm" type="button">Завершить обзвон</button>
          </a>
        </div>
      </div>
      <div class="row my-2">
        <table class="table table-hover align-middle">
          <thead>
            <tr class="table-primary">
              <th scope="col">Ф.И.О.</th>
              <th scope="col">Телефон</th>
              <th scope="col">Рейтинг</th>
              <th scope="col">Статус</th>
              <th scope="col">Специализация</th>
              <th scope="col">Последний обзвон</th>
              <th scope="col">Статус последнего обзвона</th>
            </tr>
          </thead>
          <tbody>
            {% for loader in loaders %}
              {% for call_result in call_results|loader_filter:loader  %}
              <tr class="clickable-row {% if call_result.date_last_call == today %} table-success {% else %} table-danger {% endif %}" data-bs-toggle="modal" data-bs-target="#editNextWeek{{loader.id}}">
              {% endfor %}
                <td scope="row">{{ loader }}</td>
                <td>{{ loader.phone }}</td>
                <td>{{ loader.rating }}</td>
                <td>{{ loader.status }}</td>
                <td>{% for spc in loader.specialization.all %} {{ spc }}<br> {% endfor %}</td>
                {% for call_result in call_results|loader_filter:loader %}
                  {% if call_result.date_last_call %}
                    <td>{{ call_result.date_last_call }}</td>
                    <td>{{ call_result.last_call_result }}</td>
                  {% else %}
                    <td colspan="2" style="text-align: center">Не было обзвонов</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
  
  {% for loader in loaders %}
  <div class="modal fade" id="editNextWeek{{loader.id}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ loader }} - {{ loader.phone }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {{ form.media }}
        <form action="{% url 'shedule:calling' %}" method="post">
          {% csrf_token %}
          <div class="modal-body table-responsive-xl">
            <input name="loader" type="number" value="{{ loader.id }}" hidden="true">
            <select required="true" id="callstatus" class="form-select form-select-sm" name="call_status"
              onchange="
                if(this.value == 'neg1'){
                  this.closest('[class=&quot;modal fade show&quot;]').querySelector('table').setAttribute('hidden', 'True')
                }
                if(this.value == 'neg2'){
                  this.closest('[class=&quot;modal fade show&quot;]').querySelector('table').setAttribute('hidden', 'True')
                }
                if(this.value == 'neg3'){
                  this.closest('[class=&quot;modal fade show&quot;]').querySelector('table').setAttribute('hidden', 'True')
                }
                if(this.value == 'neg4'){
                  this.closest('[class=&quot;modal fade show&quot;]').querySelector('table').setAttribute('hidden', 'True')
                }
                if(this.value == 'busy'){
                  this.closest('[class=&quot;modal fade show&quot;]').querySelector('table').setAttribute('hidden', 'True')
                }
                if(this.value == 'refusal'){
                  this.closest('[class=&quot;modal fade show&quot;]').querySelector('table').setAttribute('hidden', 'True')
                }
                if(this.value == 'failed'){
                  this.closest('[class=&quot;modal fade show&quot;]').querySelector('table').setAttribute('hidden', 'True')
                  this.closest('[class=&quot;modal fade show&quot;]').querySelector('[class=&quot;form-group row my-3 p-3&quot;]').removeAttribute('hidden')
                }
              "
            >
              <option value=pos selected>Успешно</option>
              <option value=busy>Занят телефон</option>
              <option value=refusal>Отказался работать на этой неделе</option>
              <option value=neg1>Не берет трубку</option>
              <option value=neg2>Телефон не доступен</option>
              <option value=neg3>Неправильный номер и/или Другой абонент</option>
              <option value=neg4>Не работает больше грузчиком</option>
              <option value=failed>Нет желания работать с нами</option>
            </select>
            <div class="form-group row my-3 p-3" hidden>
              <label for="{{ field.id_for_label }}">
                Причина
              </label>
              <input class='form-control my-2' type="text" name="reason">
            </div>
            
            <table class="table table-bordered my-2">
              <thead>
                <tr class="table-primary">
                  <th>День</th>
                  {% for date in dates %}
                    <th> {{ date }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Время начала дня</th>
                  {% for date in dates %}
                    <th class="start">{{ form.start_time|start_day_id:date }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  <th>Время завершения дня</th>
                  {% for date in dates %}
                    <th class="end">{{ form.end_time|end_day_id:date }}</th>
                  {% endfor %}
                </tr>
                <tr>
                  <th>&nbsp;</th>
                  {% for date in dates %}
                    <th>
                      <button type="button" class="btn btn-sm btn-danger" onclick="
                        this.closest('[class=&quot;modal fade show&quot;]').querySelector('input[id=&quot;start{{date}}&quot;]').value=''
                        this.closest('[class=&quot;modal fade show&quot;]').querySelector('input[id=&quot;end{{date}}&quot;]').value=''
                        this.closest('[class=&quot;modal fade show&quot;]').querySelector('input[id=&quot;start{{date}}&quot;]').closest('[class=&quot;start&quot;]').querySelector('input[name=&quot;start_time&quot;]').value=''
                        this.closest('[class=&quot;modal fade show&quot;]').querySelector('input[id=&quot;end{{date}}&quot;]').closest('[class=&quot;end&quot;]').querySelector('input[name=&quot;end_time&quot;]').value=''"
                      >
                          Выходной
                      </button>
                    </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
    
  {% endfor %}
{% endblock content %}
  