{% extends 'base.html' %}
{% load user_filters %}

{% block content %}
<div class="container my-5">
  <h1>График</h1>
    <div class="row">
      {% comment %} Панель управления {% endcomment %}
      <div class="d-grid gap-2 d-md-block my-2">
        <a href="{% url 'shedule:calling' %}">
          <button class="btn btn-primary btn-sm" type="button">Начать обзвон</button>
        </a>
      </div>
    </div>
    <div class="row">
      {% comment %} Таблица график {% endcomment %}
      <table class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">Ф.И.О.:</th>
            {% for date in dates %}
              <th>{{ date }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for loader in loaders %}
          <tr>
            <td class="table-light">{{ loader }}</td>
            {% for date in dates %}
              {% with workdays|loader_filter:loader as workday %}
                  {% if workday|get_day:date %}
                    <td class="table-success">{{ workday|get_day:date }}</td>
                  {% else %}
                    <td class="table-danger">Выходной</td>
                  {% endif %}
              {% endwith %}
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}
  