{% extends 'base.html' %}

{% block title %}
    <title>Зарегистрироваться</title>
{% endblock title %}

{% block content %}
  <div class="row justify-content-center my-4">
    <div class="col-md p-5">
      <div class="card">
        <div class="card-header">
          Создать профиль грузчика
        </div>
        <div class="card-body">
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

            <form method="post" action="{% url 'loaders:create' %}" enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group row my-3 p-3">
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
                </label>    
                {{ field }}
                
                {% if field.label == 'Специализация' %}
                  <input type="button" class="btn btn-sm btn-secondary col-1 my-2" data-bs-toggle='modal' data-bs-target="#addSpecialization" value="Добавить">
                {% endif %}
                {% if field.label == 'Статус' %}
                  <input type="button" class="btn btn-sm btn-secondary col-1 my-2" data-bs-toggle='modal' data-bs-target="#addStatus" value="Добавить">
                {% endif %}
                  
              </div>
              {% endfor %}
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Сохранить
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="addSpecialization" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Добавить специализацию</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ specs_form.as_p }}
        </div>
        <div class="modal-footer specs">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
          <button type="button" class="btn btn-primary" id="btn-add">Добавить</button>
          <script>
            $('.specs').on('click', '#btn-add', function(){
              let output = '';
              let specialization = $(this.closest('#addSpecialization').querySelector('#id_specialization')).val();
              
              if(specialization == ''){
                this.closest('#addSpecialization').querySelector('#id_specialization').setAttribute('style', 'border-color: red')
              }else{
                this.closest('#addSpecialization').querySelector('#id_specialization').setAttribute('style', '')

                data = {'specialization': specialization};
                mythis = this

                $.ajax({
                  url: "{% url 'specs:add' %}",
                  method: 'POST',
                  data: data,

                  success:function(data){
                    if(data.status == 'OK'){
                      x = data.specializations
                      for(i=0; i<x.length; i++){
                        output += (
                          "<li> <label for='id_specialization_" + i + "'> <input type='checkbox' name='specialization' value='" + x[i].id + "' id='id_specialization_" + i + "'> " + x[i].specialization + " </label> </li>"
                        )
                      }
                      $('#id_specialization').html(output);
                      $('#addSpecialization').modal('hide');
                      $(mythis.closest('#addSpecialization').querySelector('#id_specialization')).val('');
                    }else{
                      console.log(data.status)
                    }
                  }
                })
              }
            })
          </script>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addStatus" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Добавить статус</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ status_form.as_p }}
        </div>
        <div class="modal-footer status">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
          <button type="button" class="btn btn-primary" id="btn-add">Добавить</button>
          <script>
            $('.status').on('click', '#btn-add', function(){
              let output = "<option value='' selected=''>---------</option>'";
              let status = $(this.closest('#addStatus').querySelector('#id_status')).val()

              if(status == ''){
                this.closest('#addStatus').querySelector('#id_status').setAttribute('style', 'border-color: red')
              }else{
                this.closest('#addStatus').querySelector('#id_status').setAttribute('style', '')

                data = {'status': status}
                mythis = this

                $.ajax({
                  url: "{% url 'statuses:add' %}",
                  method: 'POST',
                  data: data,

                  success:function(data){
                    if(data.status == 'OK'){
                      x = data.status_data
                      for(i=0; i<x.length; i++){
                        output += (
                        "<option value='" + x[i].id + "'> " + x[i].status + "</option> "
                      )
                      }
                      $('#addStatus').modal('hide');
                      $('#id_status').html(output);
                      $(mythis.closest('#addStatus').querySelector('#id_status')).val('');
                    }else{
                      console.log(data.status)
                    }
                  }
                })
              }
            })
          </script>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
{% endblock content %}
    
    
